.mask {
    width: 30px;
    height: 30px;
    background: rgb(0,0,0,0);
    position: relative;
    z-index: 1;
}

.img {
  display: block;
  position: relative;
  z-index: -1;
}

.mask :hover{
    width: 30px;
    height: 30px;
    background: url('./img/eye.png') rgb(0,0,0,0.5) no-repeat;
    background-size:100% 100%;
    position: relative;
    transition: 0.5s;
}

.left-rotate {
  font-size: 50px;
  position: fixed;
  right: 310px;
  top: 10px;
}

.right-rotate {
  font-size: 50px;
  position: fixed;
  right: 210px;
  top: 10px;
}

.grow-scale{
  font-size: 50px;
  position: fixed;
  right: 10px;
  top: 10px;
}

.low-scale{
  font-size: 50px;
  position: fixed;
  right: 110px;
  top: 10px;
}

